@model AdvancedBusinessDev.Models.Parceiro

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parceiro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeParceiro" class="control-label"></label>
                <input asp-for="NomeParceiro" class="form-control" />
                <span asp-validation-for="NomeParceiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaAtuando" class="control-label"></label>
                <input asp-for="AreaAtuando" class="form-control" />
                <span asp-validation-for="AreaAtuando" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvaliacaoDesempenho" class="control-label"></label>
                <input asp-for="AvaliacaoDesempenho" class="form-control" />
                <span asp-validation-for="AvaliacaoDesempenho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoParceria" class="control-label"></label>
                <input asp-for="TipoParceria" class="form-control" />
                <span asp-validation-for="TipoParceria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
